/vendor
/node_modules
/public_html/core
/public_html/modules
/public_html/modules/contrib
/public_html/profiles
/public_html/sites/default/files/php
/public_html/sites/default/files/css/
/public_html/sites/default/files/js/
/web
/public_html/.gitignore
/working

/.csslintrc
/.eslintignore
/.eslintrc.json
/.ht.router.php
/.htaccess
/npm*
/INSTALL.txt
/README.txt
/example.gitignore
/index.php
/update.php
/web.config
/working
/composer
/.vscode
/bootstrap
/SVG
