/vendor
/node_modules
/web/core
/web/modules/contrib
/web/profiles
/web/sites

autoload.php
/.csslintrc
/.eslintignore
/.eslintrc.json
/.ht.router.php
/.htaccess
/npm*
/INSTALL.txt
/README.txt
/example.gitignore
/index.php
/update.php
/web.config
/working
/composer
/.vscode
/bootstrap
/SVG
