/* The Home page */

//Home Page Sliders



/*----------The Homepage----------*/
.home-about {
  height: 500px;
}

.home-practice {
  background: #625559;
  background-image: url("/sites/default/files/2020-08/home.jpg");
  background-blend-mode: multiply;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 25px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   h2 {
  margin: 1vmin 0vmin 0vmin 0vmin;
 }
}

.practice_areas {
    text-transform: uppercase;
    color: #f2f2f2;
    font-size: 1.5vw;
}

.field--name-field-subtitle {
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}

.home-contact {
  background: rgb(231, 228, 212);
  padding-top: 25px;

   .call-out {
      padding-right: 40px;
   }
   
   .the-form {
      padding: 25px;
      text-align: left;
   }

    h3 {
      font-size: 23px;
      color: #000;
      font-weight: bold;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      color: #7c7c7c;
    }

    .webform-submission-form {
      padding: 20px;
      border: 1px rgb(177, 177, 177) solid;
      box-shadow: 3px 3px 15px #999;
      color: #575757;
      border-radius: 10px;

        .webform-actions {
           text-align: right;
        }      
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  h2 div {
    font-size: 1.0em;
    font-weight: bold;
    text-transform: uppercase;
  }

  #slidebox, #slidebox ul.slides {
    display: none;
  }

  #slidebox ul.slides li, #slidebox ul.slides li img {
    height: auto;
  }

  .home-about {
    height: auto;
  }

  // Flexislider Overrides
  #slidebox {
    max-height: 63.0vh;
  }

  #slidebox,
  ul.slides {
    height: 78vh;
  }

  #preface-area {
    height: auto;
    overflow: default;
    }

  .home-practice {
    background: #625559;
    background-image: url("/sites/default/files/2020-08/home.jpg");
    //height: 525px;
    background-blend-mode: multiply;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 2.5em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
    
  h2.practice_areas{
        text-transform: uppercase;
        color: #f2f2f2;
        font-size: 1.25em;
  }


  #preface-area .page-tag {
    left: 3%;
    top: 25%;
  }

  #preface-area .page-tag h2 {
    font-size: 24px;
  }

  #preface-area .page-tag h3 {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
  }

  #main-content .service-sublink,
  #main-content .service-sublink  {
    margin-left: 0;
    font-size: 1em;
    float: left;
    color: #202020;
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
  }

  .home-contact {
      margin: 0px;
   //   border: 1px red solid;
      padding: 0 0 0 .5em;
  }

  .home-contact h3 {
      font-size: 1.4em;
      margin: 1.5em 0em 0em 0em;
      padding: 0;
  }
}

/*------Home -----------*/

.home-service-block div {
    margin: 35px 35px 0px 35px;
    color: #000;
    border-radius: 10px;
    border: 1px #000 solid;
    padding: 20px;
    background: #ebd7d1;
    font-weight: bold;
}

/*---Home Page Slides ---*/

#slidebox { 
  max-height: 100%;
  }

#s1 .flex-caption {
  left: 35%;
  top: 30%;
  width: 42vmin;
  font-size: 1.35em;

  h2 {
      margin: 2vmin 0vmin 2.125vmin 0vmin;
      font-size: 7vmin;
      line-height: 6.5vmin;
  }
  a {
      margin-top: 3vmin;
  }
}

#s2 .flex-caption {
  left: 70%;
  text-align: center;
  top: 30%;
  width: 55vmin;
  font-size: 1.35em;
 
  h2 {
      margin: 2vmin 0vmin 2vmin 0vmin;
      font-size: 5.5vmin;
      line-height: 5.25vmin;
  }
  a {
    margin-top: 3vmin;
    text-align: center;
}
}

#s3 .flex-caption {
  left: 70%;
  top: 30%;
  width: 60vmin;

  h2 {
      margin: 2vmin 0vmin 2vmin 0vmin;
      font-size: 5.5vmin;
      line-height: 5.25vmin;
  }
}

/* The PreFace */

#preface-area {
  margin: 0 0 0vmin 0;
  padding: 0 0 0vmin 0;
  background: #f1f1f1;
  overflow: hidden;
  border-top: 0px silver solid;
  border-bottom: 1px #25071c solid;
  position: relative;
  height: 355px;
}

#preface-area.front {
  height: auto;
  border: 0px;
  margin: 0;
  padding: 0;
}
