/*  Sizing */

h1.page-title {
  font-size: 29px;
  color: #7a150b;
  margin: 20px 0px 20px 0px;
  font-weight: 800;
  }

h2, h2 a:link, h2 a:visited {
 font-weight: 600;
 margin: 4vmin 0vmin 2vmin 0vmin;
 text-decoration: none;
 color: #4e1710;
 }

 @media screen and (min-width: 320px) and (max-width: 480px){
    h2, h2 a:link, h2 a:visited {
       font-size: .8em;
       margin: 0em 0em -.5em 0em;
       padding: 0;
    }
}

h3 {
  font-weight: 800;
  font-size: .99em;
  line-height: 1.2em;
  color: #23333f
}

h3 a {
  text-decoration: none;
}

h3.resource_section {
    margin: 0em 0em .5em 0em;
}

.service-title a:link, .service-title a:visited {
  margin-top: 0;
  padding: 0;
  font-weight: bold;
  color: #4e1710;
  }

h4 {
  font-weight: 800;
  font-size: .8em;
  color: #4e1710;
}

h4.service-title {
    font-weight: 900;
    margin-bottom: 60px;
    font-size: .8em;
    font-style: italic;
    color: rgb(59, 44, 0);
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px)  {
  h1.page-title {
    line-height: 1em;
    font-size: 22px;
    color: #7a150b;
    }

  h4.service-title {
      display: none;
  }


.service-title {
  font-size: .98em;
  line-height: 1.2em;
  margin: 0px 0px 0px 0px;
  color: #4e1710;
  font-weight: bold;
  }

.service-title a:link, .service-title a:visited {
margin: 0;
padding: 0;
font-size: 1.06em;
line-height: .075em;
font-weight: bold;
color: #4e1710;
}

#main-content {
  letter-spacing: .02em;
  line-height: 1.60em;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px)  {
    ol li {
      font-size: 1.8em;
      line-height: 1.4em;
    }
}

/*---Lead ----*/

.lead {
    font-weight: 400;
}

p.lead-alt {
  font-size: 2.8em;
  margin-top: -20px;
  margin-bottom: 20px;
}

.simple-list li {
   margin-bottom: 5px;
   line-height: .85em;
}

body {
 color: #5d5d5d;
}
